@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700');
$bodyFont: 'Montserrat', sans-serif;
$bodyBgColor: #fff;
$bodyFontSize: 14px;
$bodyWeight: 400;
/** Paragraph Font Style **/
$font: 'Montserrat', sans-serif;
$fontColor: #676766;
$lightFont: 300;
$normalFont: 400;
$mediunFont: 500;
$semiBoldFont: 600;
$boldFont: 700;
$orange: #f26822;
$navBack: #1d1d1d;
$whiteColor: #fff;
$blackColor: #000;
$hoverBgColor: #d35a1d;
/** Paragraph Font Style End **/
