@import 'reset';
@import 'variables';
@import 'mixins';

body {
  background: $bodyBgColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $bodyWeight;

  &.stick {
    padding-top: 205px;

  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bodyFont;
  font-weight: $bodyWeight;
}

header {
  display: block;
  width: 100%;

  .header-top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 15px 0;

    .tagline {
      p {
        font-size: 30px;
        color: $blackColor;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: $boldFont;
      }
    }

    .header-contact-area {
      max-width: 260px;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          width: 100%;
          text-align: left;
          position: relative;

          a {
            color: $blackColor;
            font-size: 24px;
            font-weight: $semiBoldFont;

            &[href*="tel:"] {
              &:before {
                content: "\f10b";
                font: normal normal normal 45px/1 FontAwesome;
                color: $orange;
                display: inline-block;
                margin-right: 15px;
                vertical-align: middle;
                position: relative;
                top: -1px;
              }
            }

            &[href*="mailto:"] {
              &:before {
                content: "\f003";
                font: normal normal normal 20px/1 FontAwesome;
                color: $orange;
                display: inline-block;
                margin-right: 15px;
                vertical-align: middle;
                position: relative;
                top: -2px;
              }
            }

            &:focus,
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }

  .navbar {
    padding: 0;
    margin: 0;
    border: none;
    background: $navBack;

    ul li.nav-item a.nav-link {
      padding: 0;
    }

    .navbar-nav {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      width: 100%;

      .nav-item,
      li {
        margin: 0;
        padding: 0;

        .nav-link,
        a {
          font-size: 19px;
          text-transform: uppercase;
          color: $whiteColor;
          padding: 20px 30px 18px;
          text-transform: uppercase;
          background: transparent;
          font-weight: 500;
          letter-spacing: 0.02em;

          &:focus,
          &:hover {
            background: $orange;
            color: $whiteColor;
          }
        }

        &.active {
          a,
          a:focus,
          a:hover {
            background: $orange;
            color: $whiteColor;
          }
        }
      }
    }
  }

  &.stick {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    .header-top {
      display: none;
    }

    .navbar {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.52);
    }

    .navbar-nav {
      .nav-item,
      li {
        .nav-link,
        a {
          font-size: 16px;
          padding: 15px 30px 14px;
    
        }
      }
    }
  }
}

.btn {
  @include btn;
}

.orange-btn {
  background: $orange;
  color: $whiteColor;

  &:focus,
  &:hover {
    background: $hoverBgColor;
    color: $whiteColor;
  }
}

.banner {
  @include background;
  background-attachment: fixed;
  position: relative;
  padding: 68px 0;

  &:before {
    content: "";
    @include fullCover;
    background: rgba(0,0,0,0.60);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .banner-text {
      width: 100%;
      max-width: 600px;

      h1 {
        font-weight: $boldFont;
        font-size: 40px;
        color: $whiteColor;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      p {
        font-size: 20px;
        font-weight: $lightFont;
        color: $whiteColor;
        line-height: 1.7;
        letter-spacing: 0.01em;
      }
    }

    .banner-form {
      background: $whiteColor;
      padding-top: 18px;
      border-radius: 8px;
      box-shadow: 0 0 36px rgba(0,0,0,0.22);
      max-width: 360px;
      margin-bottom: -260px;

      .banner-heading {
        background: $orange;
        text-align: center;
        padding: 15px;

        h2 {
          font-size: 28px;
          color: $whiteColor;
          font-weight: $boldFont;
          line-height: 1.2;
          margin: 0;
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
      }

      .banner-form-body {
        padding: 30px;

        .form-group {
          display: block;

          .form-control {
            display: block;
            height: 59px;
            border: solid 1px #d1d1d1;
            padding: 2px 16px;
            font-weight: $normalFont;
            font-size: 15px;
            letter-spacing: 0.01em;
            color: $blackColor;

            &::-webkit-input-placeholder {
              color: #6e6e6e;
            }

            &::-moz-placeholder {
              color: #6e6e6e;
            }

            &:-ms-input-placeholder {
              color: #6e6e6e;
            }

            &:-moz-placeholder {
              color: #6e6e6e;
            }

            &:focus {
              outline: none;
              box-shadow: none;
              border-color: #000;
            }
          }

          textarea.form-control {
            height: 105px;
            resize: none;
            padding-top: 10px;
          }
        }

        .btn {
          width: 100%;
        }
      }
    }
  }
}

.section {
  padding: 60px 0;

  h2 {
    font-weight: $boldFont;
    font-size: 35px;
    color: $orange;
    margin-bottom: 15px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    color: $fontColor;
    line-height: 1.7;
    margin-bottom: 25px;
    letter-spacing: 0.01em;
  }
}

.who-we-are-section {
  min-height: 300px;
  background: #f7f7f7;

  .col-lg-8 {
    padding-right: 40px;
  }

  .btn {
    margin-top: 15px;
    min-width: 240px;
  }
}

.service-add-post {
  @include background;
  position: relative;
  border-radius: 4px;
  text-align: center;
  min-height: 265px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;

  p {
    color: $whiteColor;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & * {
    z-index: 5;
    position: relative;
  }

  &:before {
    content: "";
    @include fullCover;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    border-radius: 4px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: solid 1px rgba(255,255,255,0.3);
    border-radius: 4px;
    z-index: 2;
  }
}

.our-service-section {
  position: relative;
  @include background;
  background-attachment: fixed;

  &:before {
    content: "";
    @include fullCover;
    background: rgba(243,243,243,0.95);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 5;

    h2 {
      text-align: center;
      color: $blackColor;
      margin-bottom: 60px;
    }
  }

  .our-service-table {
    display: table;
    width: 100%;
    table-layout: fixed;

    .our-service-row {
      display: table-row;
      width: 100%;

      .our-service-data {
        display: table-cell;
        width: 20%;
        vertical-align: top;
        text-align: center;
        border: solid 1px #9a9a9a;
        border-top: none;
        border-left: none;
        padding: 30px 20px;

        figure {
          min-height: 65px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
        }

        p {
          font-weight: $semiBoldFont;
          margin-bottom: 0;
        }

        &:last-child {
          border-right: none;
        }
      }

      &:last-of-type {
        .our-service-data {
          border-bottom: none;
        }
      }
    }
  }
}

.about-section {
  .about-form {
    background: $whiteColor;
    padding-top: 18px;
    border-radius: 8px;
    box-shadow: 0 0 36px rgba(0,0,0,0.22);
    margin-bottom: -260px;

    .about-heading {
      background: $orange;
      text-align: center;
      padding: 15px;

      h2 {
        font-size: 28px;
        color: $whiteColor;
        font-weight: $boldFont;
        line-height: 1.2;
        margin: 0;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }

    .about-form-body {
      padding: 30px;

      .form-group {
        display: block;

        .form-control {
          display: block;
          height: 59px;
          border: solid 1px #d1d1d1;
          padding: 2px 16px;
          font-weight: $normalFont;
          font-size: 15px;
          letter-spacing: 0.01em;
          color: $blackColor;

          &::-webkit-input-placeholder {
            color: #6e6e6e;
          }

          &::-moz-placeholder {
            color: #6e6e6e;
          }

          &:-ms-input-placeholder {
            color: #6e6e6e;
          }

          &:-moz-placeholder {
            color: #6e6e6e;
          }
        }

        textarea.form-control {
          height: 105px;
          resize: none;
          padding-top: 10px;
        }
      }

      .btn {
        width: 100%;
      }
    }
  }
}

.gallery-section {
  background: #f7f7f7;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  .nav-tabs {
    border-bottom: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 35px;

    .nav-item {
      margin: 0 -1px 0 0;
      display: inline-block;
      float: none;

      .nav-link {
        border: solid 1px #d2d2d2;
        border-radius: 0;
        font-weight: $semiBoldFont;
        letter-spacing: 0.03em;
        color: $fontColor;
        font-size: 23px;
        padding: 10px 45px;
        min-width: 160px;
        position: relative;

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $orange;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          margin: auto;
          @include transition;
          opacity: 0;
        }

        &:focus,
        &:hover {
          color: $orange;
        }

        &.active {
          background: $orange;
          color: $whiteColor;
          border-color: $orange;

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  figure {
    display: block;
    @include background;
    border-radius: 8px;
    height: 207px;
    margin-bottom: 30px;
  }
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: #e1e1e1;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 30px;
  }

  &.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $orange;
  }
}

.testimonials-section {
  .owl-theme .owl-dots {
    padding-top: 20px;
    padding-left: 218px;
  }

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  .testimonial-text {
    background: #f7f7f7;
    padding: 50px;
    position: relative;
    text-align: center;
    margin-top: 24px;

    &:before {
      content: "";
      position: absolute;
      top: -24px;
      left: 30px;
      background: url("../images/open-quotes.png") no-repeat;
      background-position: 0 0;
      width: 63px;
      height: 48px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -24px;
      right: 30px;
      background: url("../images/close-quotes.png") no-repeat;
      background-position: 0 0;
      width: 63px;
      height: 48px;
    }

    p {
      font-size: 16px;
      font-weight: $mediunFont;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .testimonials-author {
    position: relative;
    display: block;
    padding-left: 225px;

    &:before {
      content: "";
      display: block;
      background: url("../images/down-testi-arrow.png") no-repeat;
      background-size: 100%;
      width: 36px;
      height: 36px;
      position: relative;
      margin-bottom: 25px;
    }

    h6 {
      letter-spacing: 0.08em;
      color: $blackColor;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: $mediunFont;
    }
  }
}

.contact-section {
  background: #222222;
  padding-top: 0;

  .contact-details {
    position: relative;
    margin-top: 69px;
    display: block;
    top: -69px;
    margin-bottom: 0;

    &:before {
      content: "";
      position: absolute;
      left: -21px;
      right: -21px;
      background: url("../images/contact-back.png") no-repeat;
      background-size: 100%;
      z-index: 1;
      height: 69px;
    }

    ul {
      margin: 0;
      background: $orange;
      padding: 30px 35px;
      display: flex;
      position: relative;
      z-index: 5;

      li {
        display: flex;
        align-items: flex-start;
        width: 33%;
        flex-direction: row;
        padding-right: 10px;

        figure {
          display: inline-block;
          @include circle(82px);
          line-height: 80px;
          text-align: center;
          background: $whiteColor;
          color: $orange;
          font-size: 28px;

          .fa-mobile {
            font-size: 45px;
            position: relative;
            top: 5px;
          }

          .fa-map-marker {
            font-size: 35px;
            position: relative;
            top: 2px;
          }
        }

        div {
          display: inline-block;
          width: calc(100% - 90px);
          padding-top: 10px;
          padding-left: 10px;
          color: $whiteColor;
          letter-spacing: 0.02em;
          font-size: 16px;

          strong {
            display: block;
            font-weight: $semiBoldFont;
            font-size: 18px;
            margin-bottom: 5px;
          }
        }

        a {
          color: $whiteColor;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .contact-map {
    position: relative;
    height: 425px;

    iframe {
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
    }
  }

  .contact-form {
    display: block;
    border: solid 5px #585858;
    padding: 20px 45px 30px;

    h2 {
      color: $whiteColor;
      text-align: center;
    }

    .row {
      margin: 0 -8px;

      div[class*="col-"] {
        padding: 0 8px;
      }
    }

    .form-group {
      display: block;

      .form-control {
        display: block;
        height: 59px;
        background: transparent;
        border-radius: 6px;
        border: solid 1px #6b6b6b;
        padding: 2px 18px;
        font-size: 16px;
        color: $whiteColor;
        letter-spacing: 0.01em;
        @include transition;

        &::-webkit-input-placeholder {
          color: #6e6e6e;
        }

        &::-moz-placeholder {
          color: #6e6e6e;
        }

        &:-ms-input-placeholder {
          color: #6e6e6e;
        }

        &:-moz-placeholder {
          color: #6e6e6e;
        }

        &:focus {
          background: rgba(255,255,255,0.05);
          outline: none;
          box-shadow: none;
        }
      }

      textarea.form-control {
        resize: none;
        height: 90px;
        padding-top: 8px;
      }
    }

    .btn {
      min-width: 280px;
      position: relative;
      margin-bottom: -86px;
    }
  }
}

footer {
  background: $blackColor;
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #6e6e6e;
      font-size: 15px;
      font-weight: $mediunFont;

      a {
        color: $orange;

        &:focus,
        &:hover {
          color: $whiteColor;
        }
      }
    }

    .social-links {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin-left: 15px;
          font-size: 26px;

          a {
            color: #6e6e6e;

            &:focus,
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}
